* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", serif;
}

nav a {
  font-family: "Lobster Two", serif !important;
  font-size: 4vh !important;
}

#images {
  background-color: rgb(218, 212, 212);
}

.hero {
  padding: 0 8px 0 0 !important;
  margin: 0 !important;
}

.hero img {
  width: 100%;
  /* margin: 0 0 20px 0; */
}

.hero img:last-child {
  margin: 0;
}

.hero span {
  position: relative;
  background: lightsalmon;
  color: blue;
  text-align: center;
  /* height: 100px; */
  /* margin-bottom: 100px; */
  /* width: 100px; */
  /* padding-bottom: 10px; */
}
