* {
  margin: 0px;
  padding: 0px !important;
}

.hero {
  padding: 0 8px 0 0 !important;
  margin: 0 !important;
}

.hero img {
  width: 100%;
  margin: 0 0 8px 0;
}

.hero img:last-child {
  margin: 0;
}
