 *{
   margin: 0px;
   padding: 0px;
 }

.headtop{
   text-align: center;
   font-size: 2em;
    margin: 10px;
}

.gallery-main{
   background-color: green;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   flex-direction: row;
}


.container{
  margin-right: 10px;
  margin-left: 10px;

}
